skg_swn_rmt_cln.nc
skg_swn_rmt_ctl.nc
skg_swn_rmt_xpt.nc
skg_ilm_rmt_vz.png
skg_lmn_znt_rmt_vz.png
skg_swn_urb_xpt.nc
skg_lmn_urb_xpt_pz.000001.png
skg_lmn_urb_xpt_pz.png
skg_swn_urb_ctl.nc
skg_swn_urb_cln.nc
skg_swn_urb_ctlmcln.nc
skg_lmn_urb_ctlmcln_pz.png
